{% extends 'blank.html.twig' %}

{% block admin_active %}active{% endblock %}
{% block title %}Lista de Estados Civiles {% endblock %}
{% block pagetitle %}Lista de estados civiles {% endblock %}
{% block pagesubtitle %}Estados configurados en el sistema {% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Estado Civil</th>
                <th>Estado</th>
                <th>Fecha de creacion</th>
                <th>Fecha de actualizacion</th>
                <th>acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for civil_status in civil_statuses %}
            <tr>
                <td>{{ civil_status.id }}</td>
                <td>{{ civil_status.name }}</td>
                <td>{{ civil_status.status|record_status }}</td>
                <td>{{ civil_status.createdAt ? civil_status.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ civil_status.updatedAt ? civil_status.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('civil_status_edit', {'id': civil_status.id}) }}">
                    	<i class="fa fa-edit"></i></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ 'label.datatable.no_records'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	<br />
    <a href="{{ path('civil_status_new') }}">
    	<button class="btn btn-primary" type="button">
    		<i class="fa fa-plus"></i> Crear nuevo registro
    	</button>
    </a>
{% endblock %}