{% extends 'blank.html.twig' %}

{% block admin_active %}active{% endblock %}
{% block title %}
Panel de Administraci&oacute;n
{% endblock %}
{% block pagetitle %}
Panel de Administraci&oacute;n
{% endblock %}
{% block pagesubtitle %}
Seleccione la opcion que desea configurar
{% endblock %}

{% block body %}
<div class="row">
	<div class="col-lg-3 col-xs-6">
		<!-- small box -->
		<div class="small-box bg-aqua">
			<div class="inner">
				<h3>{{ benefit_type_count }}</h3>

				<p>{% trans %}label.benefit_type{% endtrans %}</p>
			</div>
			<div class="icon">
				<i class="fa fa-child"></i>
			</div>
			<a href="{{ path('benefit_type_index') }}" class="small-box-footer">{% trans %}label.more_info{% endtrans %} <i
				class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<!-- ./col -->
	<div class="col-lg-3 col-xs-6">
		<!-- small box -->
		<div class="small-box bg-green">
			<div class="inner">
				<h3>{{ civil_status_count }}</h3>

				<p>{% trans %}label.civil_status{% endtrans %}</p>
			</div>
			<div class="icon">
				<i class="fa fa-balance-scale"></i>
			</div>
			<a href="{{ path('civil_status_index') }}" class="small-box-footer">{% trans %}label.more_info{% endtrans %} <i
				class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<!-- ./col -->
	<div class="col-lg-3 col-xs-6">
		<!-- small box -->
		<div class="small-box bg-yellow">
			<div class="inner">
				<h3>{{ workplace_count }}</h3>

				<p>{% trans %}label.working_place{% endtrans %}</p>
			</div>
			<div class="icon">
				<i class="fa fa-suitcase"></i>
			</div>
			<a href="{{ path('work_place_index') }}" class="small-box-footer">{% trans %}label.more_info{% endtrans %} <i
				class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<!-- ./col -->
	<div class="col-lg-3 col-xs-6">
		<!-- small box -->
		<div class="small-box bg-red">
			<div class="inner">
				<h3>{{ working_status_count }}</h3>

				<p>{% trans %}label.working_status{% endtrans %}</p>
			</div>
			<div class="icon">
				<i class="fa fa-certificate"></i>
			</div>
			<a href="{{ path('working_status_index') }}" class="small-box-footer">{% trans %}label.more_info{% endtrans %} <i
				class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<!-- ./col -->
	<!-- ./col -->
	<div class="col-lg-3 col-xs-6">
		<!-- small box -->
		<div class="small-box bg-purple">
			<div class="inner">
				<h3>{{ relation_count }}</h3>

				<p>{% trans %}label.relationship{% endtrans %}</p>
			</div>
			<div class="icon">
				<i class="fa fa-users"></i>
			</div>
			<a href="{{ path('relationship_index') }}" class="small-box-footer">{% trans %}label.more_info{% endtrans %} <i
				class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<!-- ./col -->	
</div>
<!-- /.info-box -->
{% endblock %}