{% extends 'blank.html.twig' %}

{% block admin_active %}active{% endblock %}
{% block title %}Estados Laborales {% endblock %}
{% block pagetitle %}Lista de estatus laborales {% endblock %}
{% block pagesubtitle %}configuracion del sistema {% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Fecha de creacion</th>
                <th>Ultima actualizacion</th>
                <th>acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for working_status in working_statuses %}
            <tr>
                <td>{{ working_status.id }}</td>
                <td>{{ working_status.name }}</td>
                <td>{{ working_status.status|record_status }}</td>
                <td>{{ working_status.createdAt ? working_status.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ working_status.updatedAt ? working_status.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('working_status_edit', {'id': working_status.id}) }}">
                    	<i class="fa fa-edit"></i></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ 'label.datatable.no_records'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	<br />
    <a href="{{ path('working_status_new') }}">
    	<button class="btn btn-primary" type="button">
    		<i class="fa fa-plus"></i> Crear nuevo registro
    	</button>    
    </a>
{% endblock %}