{% extends 'blank.html.twig' %}

{% block admin_active %}active{% endblock %}
{% block title %}Lista de Lugares de trabajo {% endblock %}
{% block pagetitle %}Lista de lugares de trabajo {% endblock %}
{% block pagesubtitle %}configurados en el sistema {% endblock %}

{% block body %}
    <h1>WorkPlace index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for work_place in work_places %}
            <tr>
                <td>{{ work_place.id }}</td>
                <td>{{ work_place.name }}</td>
                <td>{{ work_place.status }}</td>
                <td>{{ work_place.createdAt ? work_place.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ work_place.updatedAt ? work_place.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('work_place_edit', {'id': work_place.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br />
	 <a href="{{ path('work_place_new') }}">
    	<button class="btn btn-primary" type="button">
    		<i class="fa fa-plus"></i> Crear nuevo registro
    	</button>
    </a>
{% endblock %}